__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.DS_Store
# Exclure .chainlit mais inclure les données spécifiques
.chainlit/
!.chainlit/data/BD_PuppiesForDummies.pdf
